@model Competition.App.Common.ViewModels.Home.DashboardResultsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Competition APP </p>
    <a href="#" data-toggle="modal" data-target="#Rules"><i class="fa fa-gamepad" data-toggle="modal" data-target="#Rules"></i>Rules</a>
</div>

<div>
    <div>
        Active Competitions :  @Model.ActiveCompettions
    </div>
    <div>
        Active Teams :  @Model.ActiveTeams
    </div>
    <div>
        Open Matches :  @Model.MatchesInProgress
    </div>
    <div>
        Match Results :  @Model.MatchResults
    </div>
</div>
@Html.Partial("~/Views/Partials/_rules.cshtml")